{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
</head>
<body>
    <img src="{% static 'img/wave.png' %}" id="wave1">
    <main>
        <div>
            <h1 id="title">ESSAIY</h1>
            <h2 id="sub">IMPROVE YOUR ESSAYS WITH AI</h2>
        </div>
        <div id="formDiv">
            <form method="POST" autocomplete="on" id="loginForm" class="form-floating mb-3" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group">{{loginForm.username}}</div>
                <div class="form-group">{{loginForm.password}}</div>
                <div class="form-group"><input type="submit" value="Login" id="loginBtn"></div>
            </form>
            {% if err %}
                <h3 id="err">{{err}}</h3>
            {% endif %}
        </div>
        <img src="{% static 'img/blob.png' %}" id="icon">
        <h3 id="create">Don't have an account? <a href="{% url 'create' %}">Create one now!</a></h3>
    </main>
    <img src="{% static 'img/wave.png' %}" id="wave2">
</body>
</html>