{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESSAIY</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
</head>
<body>
    <header>
        <nav id="globalNav">
            <a href="{% url 'index' %}">My Dashboard</a>
            <a href="{% url 'sendEssays' %}">Send an Essay</a>
            <a href="{% url 'myEssays' %}">My Past Essays</a>
            <a href="{% url 'mySpace' %}">My Space</a>
            <a href="{% url 'about' %}">About ESSAIY</a>
        </nav>
    </header>
    <main class="content container">
        <!-- <div class="row">
            <div class="col-md-8"> -->
            {% block content %}
            {% endblock %}
            <!-- </div> -->
        <!-- </div> -->
    </main>
    <footer id="globalFooter">
        this will be the footer
    </footer>
</body>
</html>